{% load static %}
<html>

<head>
    <title> Customer Service</title>
	<!-- Template Main CSS File -->
  <link href="assets/css/style1.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>product Detail view</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Real_Swadeshi_Mart</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
   <!-- fevicon -->
   <link rel="icon" href="{% static 'images/logo_swadeshi_mart.ico' %}" type="image/gif">
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"> 
   <!-- fonts -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
   <!-- font awesome -->
   <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <!--  --> 
   <!-- owl stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet"> 
   <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
   <link rel="stylesoeet" href=" {% static 'css/owl.theme.default.min.css'  %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
  <div class="banner_bg_main" style="background:yellow">
    <!-- header top section start -->
    <div class="container">
       <div class="header_section_top">
          <div class="row">
             <div class="col-sm-12">
                <div class="custom_menu">
                   <ul>
                      <li><a href="new_release">New Releases</a></li>
                      <li><a href="#">Today's Deals</a></li>
                      <li><a href="customer_service">Customer Service</a></li>
                      {%if request.session.logg == 'seller' %}
                         <li><a href="seller_product_adding">Sell on RSM</a></li>
                         <li><a href="seller_product_show">My Products On RSM </a></li>

                      {% endif %}
                      <li><a href="personal_cart">
                         <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                         <span class="padding_10"> My Cart</span></a>
                      </li>
                      {% if request.session.username %}
                         <li><a href="personal_info">
                            <span class="padding_10">{{request.session.username}}</span></a>                                    
                         </li>
                      {% else %}
                      <li><a href="login_index">
                         <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="padding_10">Login</span></a>
                         </li>
                     {% endif %}
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
    <br><br>
 <table border="0" width="100%" bgcolor="yellow">
        <tr>
            <td align="center"><img style="height:100px;width:100px;" src="{% static 'images\logo_swadeshi_mart.ico' %}"><center><h1><u>Welcome To </u><br><br>
<u >Customer Service</h1></u></center></td>
                </td>
            </tr>

    </table>
	
	<div class=" a-section a-spacing-extra-large a-spacing-top-extra-large ss-landing-container">
	<h1>How can we Help You ?</h1>
    
	    </div>
		<hr aria-hidden="true" class="a-spacing-none a-divider-normal">
		
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>All  Services provide By Us</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Refund & Return</a></h4>
              <p>Return or excange items</p><br>
			   <p>Print  return   mailing Lables</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"> 
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Sed ut perspiciatis</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Your Items</a></h4>
              <p>Track Pacakages</p>
			   <p>Edit or Cancel Orders</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Account setting </a></h4>
              <p>Change your email or password</p>
			   <p>Update Login Information</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Fast Services</a></h4>
              <p>Fast delivery</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href=""></a></h4>
              <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
    <div class="footer_section layout_padding">
      <div class="container"> <!-- footer logo have to change-->
         <div class="footer_logo"><a href="index.html"><img src="{% static 'images/logo_swadeshi_mart.ico' %}" style="height:80px;width:80px"></a></div>
         <div class="input_bt">
            <br>
           
         </div>
         <div class="footer_menu">
            <ul>
               <li><a href="new_release">New Releases</a></li>
               <li><a href="#">Today's Deals</a></li>
               <li><a href="#">Customer Service</a></li>
            </ul>
         </div>
         <div class="location_main">Help Line  Number : <a href="#">+91 9359790413</a></div>
      </div>
   </div>
   <!-- footer section end -->
   <!-- copyright section start -->
   <div class="copyright_section">
      <div class="container">
         <p class="copyright_text">© 2023 All Rights Reserved. Design by <a href="#">ARR Technologies....</a></p>
         <br>
         <br>
         <br>
         <br>
      </div>
   </div>
  </body>
    <!-- ======= Cta Section ======= -->
		</html>